@{
    this.ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    img{
        width: 100%;
        object-fit: contain;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to TriggerMods!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var game in Model)
    {
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="mt-0">
                    <li class="list-group-item text-center font-weight-bold text-danger">@game.Name</li>
                </div>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">
                    <div class="card-img-top zoom" style="height: 200px">
                        <img src="@game.GamePicturePath" height="100%" alt="@game.Name">
                    </div>
                </a>
                <div class="card-body text-center h-25 pb-0 pt-0 pl-0 pr-0">
                    <div class="mt-0">
                        <li class="list-group-item text-center font-weight-bold text-danger">
                            <div><i class="fa fa-copy">&nbsp;&nbsp;@game.ModCount</i></div>
                        </li>
                    </div>
                    <div class="mt-0">
                        <li class="list-group-item text-center font-weight-bold text-danger">
                            <div><i class="fa fa-download">&nbsp;&nbsp;@game.TotalDownloadCount</i></div>
                        </li>
                    </div>

                </div>
            </div>
        </div>
    }
</div>